<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DEV</key>
	<dict>
		<key>server</key>
		<string>http://integrate.innology.fr:8080/moonmasons-server</string>
		<key>timeout</key>
		<string>30</string>
		<key>photosNeededToBoost</key>
		<string>0</string>
		<key>maxBoostZones</key>
		<string>3</string>
	</dict>
	<key>PROD</key>
	<dict>
		<key>server</key>
		<string>http://www.moonmasons.fr</string>
		<key>timeout</key>
		<string>5</string>
		<key>photosNeededToBoost</key>
		<string>0</string>
		<key>maxBoostZones</key>
		<string>3</string>
	</dict>
</dict>
</plist>
